@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --border-radius: 6px;
  --pointer: pointer;
  --transform: all 0.25s ease-in-out; 
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  background-color: #fff;
}


/*----------------------------------------*/
/* Utilities                              */
/*----------------------------------------*/
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

section {
  padding: 94px 0 100px 0;
}

.text, article {
  color: rgb(32, 34, 45);
}

p {
  color: rgb(76, 77, 91);
}

/*----------------------------------------*/
/* Header                                 */
/*----------------------------------------*/
header {
  height: 60px;
  min-width: 100%;
  background-color: #2a3e9f;
  position: fixed;
}

ul {
  gap: 30px;
}

.logo {
  width: 200px;
  margin-right: 500px;
}

.logo a img {
  margin-top: 4px;
  height: 55px;
  width: auto;
}  

nav ul li {
  line-height: 60px;
  list-style: none;
  cursor: default;
}

nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #cacde3;
  text-decoration: none;
  cursor: var(--pointer);
  transform: var(--transform);
}

nav ul li a:hover {
  color: #fff;
}

.button {
  width: 90px;
  height: 46px;
  line-height: 44px;
  border-radius: var(--border-radius);
  background-color: #de452a;
  border: 1px solid #de452a;
  transform: var(--transform);
}

.button a {
  padding-left: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: var(--pointer);
}

.button:hover {
  background-color: #de5840;
  border: 1px solid #de5840;
}


/*----------------------------------------*/
/* Hero-banner                            */
/*----------------------------------------*/
.hero-banner {
  height: 100svh;
  background-image: url("../img/hero-banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner .info-text {
  height: 100%;
}

.text {
  width: 510px;
}

.text h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
}

.text p {
  padding: 26px 0 50px;
}

.text .button, article .button {
  width: 120px;
  height: 50px;
  line-height: 48px;
  transition: 0.3s;
}

.text .button a {
  padding-left: 24px;
  font-size: 19px;
}

.text .button:hover, article .button:hover {
  transform: translateY(-6px);
}


/*----------------------------------------*/
/* About                                  */
/*----------------------------------------*/
#about {
  background-color: #fafafa;
}

article {
  margin-right: 18px;
  width: 50%;
}

h3 {
  font-size: 30px;
  margin-top: 10px;
}

article p {
  margin-top: 18px;
  font-size: 16px;
  color: rgb(76, 77, 91);
}

aside {
  width: 50%;
}

.about-pic {
  margin-top: 8px;
  height: 440px;
  width: 100%;
  background: #fafafa url('../img/about.png') center 25% / cover no-repeat;
}

article .button {
  margin-top: 50px;
  width: 130px;
}

h6 {
  color: #2a3e9f;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

/*----------------------------------------*/
/* Services                               */
/*----------------------------------------*/
.services {
  background-color: #fff;
}

.grid p {
  padding: 8px 0 60px;
}

.price-row {
  text-align: center;
}

.price-columns {
  flex: 0 0 calc(33.333333% - 13.333333px);
  max-width: calc(33.333333% - 13.333333px);
  background-color: #f7f8f9;
  border: 1px solid #f7f8f9;
  border-radius: 6px;
  height: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 0.04);
  transform: var(--transform);
  transition: 0.3s;
}

.price-columns:hover {
  border: 1px solid #fafafa;
  box-shadow: 1px 1px 2px 1px rgba(216, 219, 223, 0.45);
  scale: 1.02;
}

.standard:hover {
  border: 1px solid #e1eaf8;
  box-shadow: 1px 1px 2px 1px rgba(198, 214, 238, 0.45);
}

.price-columns i {
  font-size: 60px;
  margin: 10px 0 15px;
  color: #203cc8;
}

.price-row span {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.price-row p {
  font-weight: 700;
  margin-bottom: 15px;
}

.price-row h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price-row ul li {
  list-style: none;
  text-align: left;
  color: rgb(94, 95, 109);
  margin-bottom: 10px;
  font-weight: 500;
}

.standard {
  background-color: #ebf3ff;
}


/*----------------------------------------*/
/* Stats                                  */
/*----------------------------------------*/
.stats {
  background: #191824 url('../img/stat-back.png') center 25% / cover no-repeat;
  width: 100%;
  height: 480px;
  margin-bottom: 0;
}

.stats h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  z-index: 9999;
}

.stats .button a{
  width: 160px;
  height: 70px;
}

.learn-more {
  padding: 40px 0 10px 0;
}

.prize-columns {
  flex: 0 0 calc(25% - 15px);
  max-width: calc(25% - 15px);
  background-color: #fff;
  border-radius: 6px;
  height: 170px;
  text-align: center;
  padding: 20px;
}

.prize-columns i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #203cc8;
}

.prize-columns p {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.prize-columns span {
  color: #203cc8;
  font-size: 30px;
  font-weight: 900;
}

/* .flex .learn a {
  width: 160px;
  height: 70px;
  line-height: 48px;
  transition: 0.3s;
}

.learn a:hover {
  transform: translateY(-6px);
} */