@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --border-radius: 6px;
  --pointer: pointer;
  --transform: all 0.25s ease-in-out; 
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  background-color: #fff;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
}

.gap-30 {
  gap: 30px;
}

section {
  padding: 75px 0 65px 0;
}


/*----------------------------------------*/
/* Header                                 */
/*----------------------------------------*/
header {
  height: 60px;
  background-color: #2a3e9f;
}

ul {
  gap: 30px;
}

.logo {
  width: 200px;
  margin-right: 500px;
}

.logo a img {
  margin-top: 4px;
  height: 55px;
  width: auto;
}  

nav ul li {
  line-height: 60px;
  list-style: none;
  cursor: default;
}

nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #cacde3;
  text-decoration: none;
  cursor: var(--pointer);
  transform: var(--transform);
}

nav ul li a:hover {
  color: #fff;
}

.button {
  width: 90px;
  height: 46px;
  line-height: 44px;
  border-radius: var(--border-radius);
  background-color: #de452a;
  border: 1px solid #de452a;
  transform: var(--transform);
}

.button a {
  padding-left: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: var(--pointer);
}

.button:hover {
  background-color: #de5840;
  border: 1px solid #de5840;
}


/*----------------------------------------*/
/* Hero-banner                            */
/*----------------------------------------*/
.hero-banner {
  height: 92svh;
  background-image: url("../img/hero-banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner .info-text {
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  width: 510px;
  color: rgb(32, 34, 45);
}

.text h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
}

.text p {
  padding: 30px 0 50px;
}

.text .button, article .button {
  width: 120px;
  height: 50px;
  line-height: 48px;
  transition: 0.3s;
}

.text .button a {
  padding-left: 24px;
  font-size: 19px;
}

.text .button:hover, article .button:hover {
  transform: translateY(-6px);
}


/*----------------------------------------*/
/* About                                  */
/*----------------------------------------*/
#about {
  background-color: #fafafa;
}

article {
  width: 50%;
}

article h3 {
  font-size: 26px;
  margin-top: 10px;
}

article p {
  margin-top: 10px;
  font-size: 18px;
}

aside {
  width: 50%;
}

.consulting-pic {
  height: 400px;
  width: 100%;
  background: #fafafa url('../media/consulting.jpg') center 25% / cover no-repeat;
}

article .button {
  margin-top: 40px;
  width: 130px;
}

.who article h6 {
  color: #2b43b8;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}