@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --border-radius: 6px;
  --pointer: pointer;
  --transform: all 0.25s ease-in-out; 
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  background-color: #fff;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}


/*----------------------------------------*/
/* Header                                 */
/*----------------------------------------*/
header {
  height: 60px;
  background-color: #5840de;
}

ul {
  gap: 30px;
}

.logo {
  width: 200px;
  margin-right: 500px;
}

.logo a img {
  margin-top: 4px;
  height: 50px;
  width: auto;
}  

nav ul li {
  line-height: 60px;
  list-style: none;
  cursor: default;
}

nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #e4dbf1;
  text-decoration: none;
  cursor: var(--pointer);
  transform: var(--transform);
}

nav ul li a:hover {
  color: #fff;
}

.button {
  width: 90px;
  height: 46px;
  line-height: 44px;
  border-radius: var(--border-radius);
  background-color: #de452a;
  border: 1px solid #de452a;
  transform: var(--transform);
}

.button a {
  padding-left: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: var(--pointer);
}

.button:hover {
  background-color: #de5840;
  border: 1px solid #de5840;
}


/*----------------------------------------*/
/* Hero-banner                            */
/*----------------------------------------*/
.hero-banner {
  height: 92svh;
  background-image: url("../img/hero-banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner .info-text {
  height: 100%;
  display: flex;
  align-items: center;
}

.text {
  gap: 2rem;
}

.text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.text p {
  text-align: center;
}

.text .button {
  width: 120px;
  height: 48px;
  line-height: 48px;
}

.text .button a {
  font-size: 16px;
}